<a href="https://colab.research.google.com/github/BelovedTemitope/Machine-Learning-Projects/blob/master/Hotspots_Dataset_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv('/content/drive/My Drive/UmojaHack#3:Hotspots/train.csv',parse_dates=['date'])
data.head()

             ID  area  ... population_density  precipitation
0  0_2000-04-01     0  ...           2.214262       0.198996
1  1_2000-04-01     1  ...           3.833042       0.188071
2  2_2000-04-01     2  ...           1.927303       0.211730
3  3_2000-04-01     3  ...           1.878281       0.215403
4  4_2000-04-01     4  ...           1.968818       0.199975

[5 rows x 32 columns]

In [ ]:
test = pd.read_csv('/content/drive/My Drive/UmojaHack#3:Hotspots/test.csv', parse_dates=['date'])
test.head(1)

             ID  area  ... population_density  precipitation
0  0_2014-01-01     0  ...           2.773423       0.000457

[1 rows x 32 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 626644 entries, 0 to 626643
Data columns (total 32 columns):
ID                    626644 non-null object
area                  626644 non-null int64
date                  626644 non-null datetime64[ns]
lat                   626644 non-null float64
lon                   626644 non-null float64
burn_area             626644 non-null float64
climate_aet           626644 non-null float64
climate_def           626644 non-null float64
climate_pdsi          626644 non-null float64
climate_pet           626644 non-null float64
climate_pr            626644 non-null float64
climate_ro            626644 non-null float64
climate_soil          626644 non-null float64
climate_srad          626644 non-null float64
climate_swe           626644 non-null float64
climate_tmmn          626644 non-null float64
climate_tmmx          626644 non-null float64
climate_vap           626644 non-null float64
climate_vpd           626644 non-null float64
climate_vs            626644 non-null float64
elevation             626644 non-null float64
landcover_0           626644 non-null float64
landcover_1           626644 non-null float64
landcover_2           626644 non-null float64
landcover_3           626644 non-null float64
landcover_4           626644 non-null float64
landcover_5           626644 non-null float64
landcover_6           626644 non-null float64
landcover_7           626644 non-null float64
landcover_8           626644 non-null float64
population_density    607128 non-null float64
precipitation         626644 non-null float64
dtypes: datetime64[ns](1), float64(29), int64(1), object(1)
memory usage: 153.0+ MB

In [ ]:
test.burn_area.unique()

array([0])

In [ ]:
data['population_density'].fillna(data['population_density'].mean(),inplace =True)
data['population_density'].isnull().sum()

0

In [ ]:
data.drop(['ID'],axis=1,inplace=True)

In [ ]:
data.head()
data['month'] = data.date.dt.month
#data['year'] = data.date.dt.year

In [ ]:
train_all = data.copy().dropna()
train = train_all.loc[train_all.date < '2011-01-01']
valid = train_all.loc[train_all.date > '2011-01-01']
print(train.shape, valid.shape)

(489088, 32) (133735, 32)

In [ ]:
in_cols = train.columns.drop(['burn_area','date','area'])
target_col = 'burn_area'
in_cols

Index(['lat', 'lon', 'climate_aet', 'climate_def', 'climate_pdsi',
       'climate_pet', 'climate_pr', 'climate_ro', 'climate_soil',
       'climate_srad', 'climate_swe', 'climate_tmmn', 'climate_tmmx',
       'climate_vap', 'climate_vpd', 'climate_vs', 'elevation', 'landcover_0',
       'landcover_1', 'landcover_2', 'landcover_3', 'landcover_4',
       'landcover_5', 'landcover_6', 'landcover_7', 'landcover_8',
       'population_density', 'precipitation', 'month'],
      dtype='object')

In [ ]:
X_train, y_train = train[in_cols], train[target_col]
X_valid, y_valid = valid[in_cols], valid[target_col]
X_train.head()

      lat    lon  climate_aet  ...  population_density  precipitation  month
0  25.447  5.296  1250.622712  ...            2.214262       0.198996      4
1  25.669  5.293  1238.019166  ...            3.833042       0.188071      4
2  25.443  5.074  1240.449964  ...            1.927303       0.211730      4
3  25.665  5.070  1229.240077  ...            1.878281       0.215403      4
4  25.886  5.067  1224.093679  ...            1.968818       0.199975      4

[5 rows x 29 columns]

In [ ]:
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error

In [ ]:
model = RandomForestRegressor()

In [ ]:
model.fit(X_train, y_train)

# Make predictions
preds = model.predict(X_valid)

# Score
mean_squared_error(y_valid, preds)**0.5

0.028447118907351333

In [ ]:
test['month'] = test.date.dt.month
#test['year'] = test.date.dt.year
test.head()

             ID  area       date  ...  population_density  precipitation  month
0  0_2014-01-01     0 2014-01-01  ...            2.773423       0.000457      1
1  1_2014-01-01     1 2014-01-01  ...            4.697883       0.000129      1
2  2_2014-01-01     2 2014-01-01  ...            2.488614       0.000398      1
3  3_2014-01-01     3 2014-01-01  ...            2.439959       0.000158      1
4  4_2014-01-01     4 2014-01-01  ...            2.546723       0.000153      1

[5 rows x 33 columns]

In [ ]:
y_hat=test.copy()
y_hat.drop(['ID','date','burn_area','area'],axis=1,inplace=True)
y_hat.head()

      lat    lon  climate_aet  ...  population_density  precipitation  month
0  25.447  5.296   142.756021  ...            2.773423       0.000457      1
1  25.669  5.293   154.836847  ...            4.697883       0.000129      1
2  25.443  5.074   127.790933  ...            2.488614       0.000398      1
3  25.665  5.070   136.924571  ...            2.439959       0.000158      1
4  25.886  5.067   144.278146  ...            2.546723       0.000153      1

[5 rows x 29 columns]

In [ ]:
newPred=model.predict(y_hat)

ValueError: ignored

In [ ]:
dicto={'ID':test.ID,'Prediction':newPred}

In [ ]:
df=pd.DataFrame(dicto)
df

In [ ]:
df.to_csv('submiss.csv',index=False)